body{
  background-color: skyblue;

}
#img{
  margin-left: 600px;
}
header b{
  margin-left: 620px;

}
a{
  margin-left: 200px;
}
h1{
  margin-left: 200px;
}
#pe{
  margin-left: 203px;
}

h2{
  margin-left: 200px;
}
#re{
  margin-left: 200px;
}
#nu{
  margin-left: 200px;
}
#et{
  margin-left: 200px;
}
#km{
  margin-left: 200px;
}
h3{
  margin-left: 200px;
}
h4{
  margin-left: 200px;
}
#nj{
margin-left: 200px;
}
#mt{
  margin-left: 200px;
}
#bu{
  margin-left: 610px;
}
#but{
  margin-left: 10px;
}
